:root {
    --bg-dark: rgb(8, 7, 26);
    --bg-light: #2b2b2b;

    --surface: #2b2b2b;

    --primary: #ffbb00;
    --secondary: #3cff5c;
    --danger: #ff3c3c;
    --success: #00d9ff;
    --info: #a78bfa;

    --text-main: #e0e0e0;
    --text-muted: #9a9a9a;

    --border: #000000;
    --border-2: #53524e;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.2rem;
    --text-xl: 2.5rem;

    --max-width: 1024px;
    --timeline-axis: 16px;

    --px-bg: #1a1a1a;
    --px-panel: #2b2b2b;
    --px-border: #000000;

    --px-idle: #2b2b2b;
    --px-hover: #ffcc00;
    --px-active: #e6b800;
    --px-disabled: #555555;

    --px-text: #e0e0e0;
    --px-text-muted: #9a9a9a;
}
